.room-tile{
		margin: auto;
		height: 110px;
		width: 900px;
		border-style: solid;
	}

	.room-tile-1{
		border-style: solid;
		display: grid;
		grid-template-columns: 3fr 1fr;
	}
	.room-tile-name{
		margin: auto;
	}
	.room-tile-button{
		margin: auto;
	}
	.room-tile-button a{
		width: 225px;
		height: 67px;
		padding:20px;
	}

	.room-tile-2{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.room-tile-host h6{
		padding-top:4px;
		padding-left:4px;
	}

	.room-tile-edit a{
		height: 31px;
		width: 300px;
		padding:3.5px;
	}
	.room-tile-delete a{
		height: 31px;
		width: 300px;
		padding:3.5px;
    }