

	.question-tile{
	    margin: auto;
		height: 70px;
		width: 900px;
		border-style: solid;
		display: grid;
		grid-template-columns: 3fr 1fr;
	}
	.question-tile-name{
		margin: auto;
	}
	.question-tile-button{
		margin: auto;
	}
	.question-tile-button a{
		width: 225px;
		height: 64px;
		padding:20px;
	}