{% extends 'main.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message : </strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div>
    <h4 style="text-align:center; margin:15px; ">{{room_count}} labs/contests available</h4>
    <div>
        {% for room in rooms %}

        <div class="room-tile">

            <div class="room-tile-1">
                <div class="room-tile-name">
                    <h2>{{room.name}}</h2>
                </div>
                <div class="room-tile-button">
                    <a href="/room/{{room.id}}" class="btn btn-primary rounded-0">Join Now</a>
                </div>

            </div>

            <div class="room-tile-2">
                <div class="room-tile-host">
                    <h6>Host : {{room.host.username}}</h6>
                </div>
                {% if request.user == room.host %}
                <!-- Default dropend button -->
                <div class="room-tile-settings">
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-secondary dropdown-toggle rounded-0" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Host Options
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="/room_responses/{{room.id}}">Check Responses</a>
                        <a class="dropdown-item" href="//{{request.get_host}}/create_question/{{room.id}}">Add Questions</a>
                        <a class="dropdown-item" href="/update_room/{{room.id}}">Edit Room</a>
                        <a class="dropdown-item" href="/delete_room/{{room.id}}">Delete Room</a>
                    </ul>
                </div>
                </div>
                {%endif%}
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}