{% extends 'main.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/room_style.css' %}">
{% endblock %}

{% block content %}
<style>
    .room-container{
        margin:10px;
    }
</style>

<div class="room-container">
    <div>
        <h2 style="text-align:center;padding:10px;">{{room.name}}</h2>
        <br>
    </div>
    <div>
        <!--Description Here
        <br><br><br><br><br>-->
    </div>

    <div>
        <div>
            {% for question in questions %}

            <div class="question-tile">
                <div class="question-tile-name">
                    <h3>{{question.question_title}}</h3>
                </div>
                <div class="question-tile-button">
                    <a href="/room/{{room.id}}/{{question.id}}" class="btn btn-secondary rounded-0">Solve</a>
                </div>

            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

